.raovat_form table{width:100%;font-size:9pt!important}
.raovat_form table td.key{font-weight:bold;text-align:right;width:150px;padding-right:10px;}
.raovat_form table td.key span{font-weight:normal;font-style:italic;font-size:smaller}
.raovat_form table .required{color:red}

.raovat_form table .button2-left{display:none}
/* Tooltips */
.tool-tip {
   float: left;
   background: #ffc;
   border: 1px solid #D4D5AA;
   padding: 5px;
   max-width: 200px;
}
 
.tool-title {
   padding: 0;
   margin: 0;
   font-size: 100%;
   font-weight: bold;
   margin-top: -15px;
   padding-top: 15px;
   padding-bottom: 5px;
   background: url(../images/selector-arrow.png) no-repeat;
}
 
.tool-text {
   font-size: 100%;
   margin: 0;
}
.raovat-chitiet img{max-width:500px}
