/*Modules*/
.module-static {clear:both; display:block; width:100%; padding-top:87px; height:110px; background:url(../images/news&event_86.png) no-repeat;}
.module-static li{line-height:43px;  color:#FFFFFF; font-weight:bold; text-align:center; font-size:14px;}
.cols2 .module-cnt {margin-left:2px;}
div.module-a,div.module-b,div.module-c {background:url(../images/news&event_111.png) repeat-y; float:left; width:100%; margin:0 0 12px; padding:0; clear:both;}
div.module-a h3,div.module-b h3,div.module-c h3 { font-size:100%; margin:-8px -5px 0 23px;  line-height:29px; vertical-align:middle; text-transform:uppercase; color:#85193c; padding-left:5px;}
div.module-a div,div.module-c div,div.module-b div {background:url(../images/news&event_66.png) no-repeat left bottom;}
div.module-a div div,div.module-b div div,div.module-c div div{background:url(../images/news&event_35.png) no-repeat right top;}
div.module-a div div div { background:url(../images/news&event_31.png) no-repeat left top;}
div.module-b div div div { background:url(../images/news&event_74.png) no-repeat left top;}
div.module-c div div div { background:url(../images/news&event_37.png) no-repeat left top;}
div.module-a div div div,div.module-b div div div,div.module-c div div div  { padding:8px 10px 5px;}
div.module-a div div div div,div.module-b div div div div ,div.module-c div div div div { background:transparent none repeat scroll 0 0; float:none; margin:0; padding:0;}
div.module-b .img {padding:10px 0; text-align:center;}
div.module-b .img img{float:none; width:170px; border:1px solid #96aab5; padding:2px; margin-bottom:10px;}
.module-c .form,.module-a .form {padding:24px 0;}
.module-1 {background:#FFFFFF; float:left; width:197px; border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3; margin-bottom:12px;}
.module-1 .img-rounded{margin-left:-1px;}
.module-1 .fl-right{margin-right:-1px;}
.module-1 h2{color:#85193c; text-transform:uppercase; background:url(../images/news&event_32.png) repeat-x; line-height:29px; vertical-align:middle;}
.module-1 span{padding-left:15px;}
.module-2 {background:url(../images/news&event_45.png) repeat-x left 29px #e9e9e9; float:left; width:197px; border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3; margin-bottom:12px;}
.module-2 .img-rounded{margin-left:-1px;}
.module-2 .fl-right{margin-right:-1px;}
.module-2 h2{color:#85193c; text-transform:uppercase; background:url(../images/news&event_32.png) repeat-x; line-height:29px; vertical-align:middle;}
.module-2 span{padding-left:15px;}
.module-cnt {float:left; background:#FFFFFF; width:552px; float:left;  border-left:1px solid #b3b3b3; border-right:1px solid #b3b3b3; margin-bottom:12px;}
.module-cnt .title{float:left; background:url(../images/news&event_53.png) no-repeat; width:554px; height:44px; margin-left:-1px;}
.module-cnt .title .fl-right{padding-top:4px;}
.module-cnt .cnt{background:url(../images/news&event_60.png) repeat-x #e4eef3; float:left; width:550px; border-left:1px solid #FFFFFF; border-right:1px solid #FFFFFF;}
.module-cnt .img-rounded{margin-left:-1px;}
.module-cnt select{#font-size:9px;}
.module-cnt h2{color:#85193c; background:#FFFFFF; text-transform:uppercase; line-height:29px; vertical-align:middle; float:left; margin-left:35px; border-top:1px solid #b3b3b3; padding-right:20px;}
.module-cnt span{padding-left:5px;}


/*Menus*/
.menu1 {clear:both; display:block; width:100%; height:100%;}
.menu1 li{background:url(../images/news&event_48.png) no-repeat 0 7px; padding:4px 0 4px 20px; margin:5px 0;}
.menu1 a{color:#00517a;  width:100%; display:inline-block; height:100%;}
.menu ul li.active ul li a span
{
    font-weight:normal;
    color:#032b3f;
}
.menu ul li.active ul li.active a span
{
    font-weight:bold;
    text-decoration:underline;
    line-height:18px;
    
}
.menu ul li.active ul li.active a{height:auto;background:none;padding:0px;line-height:18px;}
.menu ul li a, .menu ul li a:visited {padding:0 30px 0 15px;}
.menu li ul li {color:#032b3f; padding-bottom:0; background:url(../images/news&event_25.png) no-repeat right;}
.menu ul li a, .menu ul li a:visited
{
    height:auto!important;
    text-transform:uppercase;
}
.menu ul li ul li a, .menu ul li ul li a:visited {background:none}
.menu ul li ul li a, .menu ul li ul li a:visited {display:block; text-decoration:none; padding:0px; height:auto; line-height:18px;text-transform:none; }
/*Content template*/
.list-box1 span.datepub{color:#7d7d7d; font-style:italic;}
.list-box1 span{color:inherit!important; font-style:inherit!important;}