.ja-catslwi {
  position: relative; 
  margin: 0 0 14px 0; 
  padding: 0;
}

.ja-catslwi-container {
	width: 100%;
	position: absolute; 
	z-index: 1; 
	bottom: 0px; 
	left: 0;
}

.ja-catslwi-text {
	position:relative;
	height: 0; 
	overflow: hidden;
}

.ja-catslwi-content{
	position: absolute; 
	top:0;
	left:0;
	width:100%;
}

.ja-catslwi-display{
	position: absolute; 
	top:0;
	left:0;
	padding: 0 10px;
}

.ja-catslwi-display h3 {
	letter-spacing: normal !important;
}
